/*Importing Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@1,200&display=swap');


/*Site Default Settings*/
* {
    margin: 0 auto;
    padding: 0;
    border: none;
}

body {
    background: #00610D;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-weight: bold;


}


/*Reusable CSS Rules*/

.text-center {

    text-align: center;
}

hr {

    width: 95%;
    height: 2px;
    background-color: white;
    margin: 5px auto;
}

/*Header*/
header {
    padding: 0 5px;
    height: 100px;
}


#logo {
    float: left;
    width: 25%;
    margin-left: 3%;
}




/* Options Selections*/

.options {
    width: 25%;
    float: right;
    margin-right: 3%;
}

.options li {
    float: right;
    list-style-type: none;
    margin-right: 10px !important;
    font-size: 120%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    text-align: center;


}

.options a {
    text-decoration: none;
    color: inherit;
}

.options li:hover {
    background: white;
    color: #00610D;
    cursor: pointer;
}


li {
    list-style-position: inside
}


/*Heading*/

h1 {
    color: white;
    margin: 20px auto;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 300%
}

h2 {
    font-size: 140%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.score-area {
    background: blue;
    text-align: center;
    margin: 0 auto;
    width: 32rem;
    clear: both;


}

/*Game Canvas*/

#game-area {

    width: 32rem;
    background-size: contain;
    clear: both;
    margin: 0 auto;
}

.ball-start-position {

    background: pink;
    background: url('../images/soccer-ball.png') no-repeat center center;
    height: 100px;
    margin: 0 auto;
    animation: rollin 2.0s linear;
    clear: both;
    visibility: hidden;
}

#kicking-spot {
    border: 3px solid white;
    border-top: none;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;

    width: 100%;

}


@keyframes rollin {
    0% {
        margin-left: 80%;
    }

    100% {
        margin-left: 0%;
        transform: rotate(-360deg);
    }
}


/*Goal posts Start*/



#goals-posts-outer {
    background: orange;
    border: 3px solid white;

    margin: 0 auto;
    width: 32rem;
    display: block;
    height: 15rem;
}


.goals-posts-inner {
    background: url('../images/square-24.png');
    float: left;
    height: 5rem;
    width: 8rem;
    border: 1px solid white;
    box-sizing: border-box;
}

.goals-posts-inner:hover {
    cursor: pointer;
    background-color: lawngreen;
}


/*Goal posts End*/

/*Game Controls*/
#start-game {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px auto;
    text-align: center;
    clear: both;


}

#end-game {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    clear: both;
    background-color: red;
    visibility: hidden;
    z-index: -1;

}

#start-game:hover {
    background: white;
    color: #00610D;
    cursor: pointer;


}

#end-game:hover {
    background: white;
    color: red;
    cursor: pointer;


}

#next-shot {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    clear: both;
    visibility: hidden;


}

#next-shot:hover {
    background: white;
    color: #00610D;
    cursor: pointer;


}