/*Importing Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@1,200&display=swap');


/*Site Default Settings*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #00610D;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-weight: bold;


}


/*Reusable CSS Rules*/

.text-center {

    text-align: center;
}

hr {

    width: 95%;
    height: 2px;
    background-color: white;
    margin: 5px auto;
}

/*Header*/
header {
    padding: 0 5px;
    height: 100px;
}


#logo {
    float: left;
    width: 25%;
    margin-left: 3%;
}




/* Options Selections*/

.options {
    width: 25%;
    float: right;
    margin-right: 3%;
}

.options li {
    float: right;
    list-style-type: none;
    margin-right: 10px !important;
    font-size: 120%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    text-align: center;


}

.options a {
    text-decoration: none;
    color: inherit;
}

.options li:hover {
    background: white;
    color: #00610D;
    cursor: pointer;
}


li {
    list-style-position: inside
}


/*Heading*/

h1 {
    color: white;
    margin: 20px auto;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 300%
}

h2 {
    font-size: 140%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.score-area {
    background: blue;
    text-align: center;
    margin: 0 auto;
    width: 32rem;
    clear: both;


}

/*Game Canvas*/

#game-area {

    width: 32rem;
    background-size: contain;
    clear: both;
    margin: 0 auto;
}

.ball-start-position {

    background: pink;
    background: url('../images/soccer-ball.png') no-repeat center center;
    height: 100px;
    margin: 0 auto;
    animation: rollin 1.0s linear;
    clear: both;
    visibility: hidden;
}

#kicking-spot {
    border: 3px solid white;
    border-top: none;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;

    width: 100%;

}


@keyframes rollin {
    0% {
        margin-left: 80%;
    }

    100% {
        margin-left: 0%;
        transform: rotate(-360deg);
    }
}


/*Goal posts Start*/



#goals-posts-outer {
    background: orange;
    border: 3px solid white;

    margin: 0 auto;
    width: 32rem;
    display: block;
    height: 15rem;
}


.goals-posts-inner {
    background: url('../images/square-24.png');
    float: left;
    height: 5rem;
    width: 8rem;
    border: 1px solid white;
    box-sizing: border-box;
}

.goals-posts-inner:hover {
    cursor: pointer;
    background-color: lawngreen;
}


/*Goal posts End*/

/*Game Controls*/
#start-game {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px auto;
    text-align: center;
    clear: both;


}

#end-game {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    clear: both;
    background-color: red;
    visibility: hidden;
    z-index: -1;

}

#start-game:hover {
    background: white;
    color: #00610D;
    cursor: pointer;


}

#end-game:hover {
    background: white;
    color: red;
    cursor: pointer;


}

#next-shot {
    font-size: 150%;
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    clear: both;
    visibility: hidden;


}

#next-shot:hover {
    background: white;
    color: #00610D;
    cursor: pointer;


}

/*Modal Styling*/

.modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all .5s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.modal:target {
    opacity: 1;
    transition: all .5s ease-in-out;
    z-index: +1;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    background: #fff;
    border-radius: 4px;
    transform: translate(-50%, -200%);
    transition: all .5s ease-in-out;
    perspective: 1000px;
    outline: 1px solid transparent;
    opacity: 0;
}

.modal:target .modal-content {
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    transition-delay: .5s;
    z-index: 9999;
    opacity: 1;
}

.modal-close {
    float: right;
    text-decoration: none;
    padding: 22px 22px;
    color: #424242;
    font-weight: 800;
    transition: all .5s ease-in-out;
    z-index: +1;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 0 4px 0 0;
}

.modal-close:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    padding: 20px;
    display: block;
    text-align: center;
    color: #00610D;
}

.modal-area {
    padding: 20px;
    color: #333
}

.modal-area p {
    padding: 20px 0;
    font-style: italic;
}

.modal-area label {
    float: left;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    z-index: +2;
    color: #333;
    transition: all .5s ease-in-out;
    width: 80px;
    text-align: center;
}

/*Footer Styling*/

footer {
    height: 75px;
    clear: both
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i:hover {
    color: #333;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;

}

/*Select Level Modal Styling*/

.levels {


    width: 33%;
}

ul.levels {
    margin: 0 auto;
}

.levels li {
    list-style-type: none;
    margin-right: 10px !important;
    font-size: 120%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    background: #00610D;
    color: White;


}

.levels a {
    text-decoration: none;
    color: inherit;
    background: red;
}

.levels li:hover {
    background: #02b419;

    cursor: pointer;
}

.levels-selected {
    background: red !important;
}